*.pyc
*.log
*.egg-info
*.swp
/.installed.cfg
/bin
/develop-eggs
/parts
/logs/*
!/logs/.keep
/static/*
!/static/.keep
/supervisord.pid
settings_override.py
/.mr.developer.cfg
/src/
eggs/
include/
lib/
local/
/docs/build
/docs/*.bat
/docs/doctrees/
/docs/html/
/.coverage
__pycache__
