body {
  direction: rtl;
  unicode-bidi: embed;
}

.widget li {
  padding: 0 19px 0 0;
}

.widget li:before {
  left: auto;
  right: 8px;
}

.author-avatar {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}

.footer-inner .social-profile.type1.pull-right {
  float: left !important;
}

.top-header .social-profile {
  float: left;
  margin: 0 75px 0 0;
}

.top-header .top-menu {
  float: right;
}

.top-header .contact-info {
  float: left;
}

.top-header .top-menu li {
  padding: 14px 0 15px 15px;
}

.top-header .top-menu li:after {
  margin-left: 0;
  margin-right: 14px;
}

.site-header .site-logo {
  float: right;
}

.navbar {
  float: left;
}

.main-header li {
  float: right;
}

.sf-menu > li {
  margin-left: 0;
  margin-right: 45px;
}

.header-logo {
  margin: 23px 0px 23px 7px;
}

.breadcrumb-trail {
  overflow: hidden;
}

.breadcrumb-trail a, .breadcrumb-trail span {
  float: right;
}

.breadcrumb-trail .fa-angle-right:before {
  content: "\f104";
}

.comment-list .vcard {
  margin: 0 0 0 16px;
  float: right;
}

.main-header li {
  float: right;
}

.woocommerce-result-count {
  float: right;
}

.navigation .page-numbers {
  margin: 0 0 10px 15px;
  float: right;
}

.woocommerce-ordering {
  float: left;
}

.woocommerce ul.products li.product {
  float: right;
}

div.wpcf7 {
  text-align: right;
}

blockquote {
  border-left-width: 0;
  border-right: 8px solid #27b399;
  padding: 35px 91px 31px 30px;
}
blockquote:before {
  left: auto;
  right: 20px;
}
blockquote:after {
  left: auto;
  right: 23px;
}

.emmet .motopress-quotes blockquote + p {
  text-align: right !important;
}

.motopress-accordion-obj.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  right: 0;
  top: 50%;
}

.emmet .motopress-tabs-obj.ui-tabs.motopress-tabs-vertical ul {
  float: right;
}

.emmet .motopress-tabs-obj.ui-tabs.motopress-tabs-basic.motopress-tabs-vertical .ui-tabs-nav li {
  border-right: 1px solid #9fa4a9 !important;
  border-left: 0px solid #9fa4a9 !important;
}

.emmet .motopress-tabs-obj.ui-tabs.motopress-tabs-vertical .ui-tabs-nav li.ui-state-active a {
  color: #555555 !important;
  -moz-box-shadow: 0px 0 0 0 #ffffff, -1px 0px 0 0 #ffffff !important;
  -webkit-box-shadow: 0px 0 0 0 #ffffff, -1px 0px 0 0 #ffffff !important;
  box-shadow: 0px 0 0 0 #ffffff, -1px 0px 0 0 #ffffff !important;
}

.emmet .motopress-accordion-obj.ui-accordion .ui-accordion-header {
  padding: .7em .9em .7em .7em !important;
}

.emmet .motopress-accordion-obj.ui-accordion .ui-accordion-icons {
  padding-right: 2.4em !important;
}

.motopress-accordion-obj.ui-accordion.mp-theme-accordion-brand .ui-accordion-header {
  padding: 29px 45px 21px 30px !important;
}

.widget table tfoot td#prev {
  text-align: right;
}

.widget table tfoot td#next {
  text-align: left;
}

caption {
  text-align: right;
}

.widget .bbp-logged-in img.avatar,
.widget .entry-thumbnail {
  margin: 0 0 0 28px;
  float: right;
}

.widget .product_list_widget .wp-post-image {
  left: auto;
  right: 0;
}

.widget .product_list_widget li {
  padding: 0 100px 0 0;
}

.woocommerce .star-rating span {
  float: right;
  right: 0px;
}

.widget.widget_display_stats dt {
  float: right;
  margin: 0 0 24px 8px;
}

.woocommerce .star-rating {
  float: right;
}

.woocommerce .woocommerce-product-rating .star-rating {
  margin: 9px 0 0 8px;
}

.woocommerce .quantity {
  margin-left: 26px;
  margin-right: 0;
}

.woocommerce span.onsale {
  left: 0px;
  right: auto;
}

table tbody tr td:first-child, table tbody tr th, table tfoot tr td:first-child, table tfoot tr th {
  text-align: right;
}

table thead tr th:first-child, table thead tr td:first-child {
  text-align: right;
}

.bbp-pagination-count {
  float: right;
}

.emmet .theme-read-more-button .motopress-posts-grid-more a {
  margin-right: 0;
  margin-left: 25px;
}

.emmet .motopress-posts-grid-obj .motopress-posts-grid-meta .comments-link {
  text-align: right;
}

#motopress-container .motopress-posts-grid-obj .motopress-posts-grid-meta .motopress-posts-grid-date, .motopress-posts-grid-obj .motopress-posts-grid-meta .motopress-posts-grid-date {
  float: right;
}
