.bbp-search-form {
  float: none;
}

#bbpress-forums #bbp-search-form #bbp_search {
  width: 270px;
  margin-right: 26px;
}

#bbp_search_submit {
  min-width: 170px;
  vertical-align: top;
}

div.bbp-breadcrumb {
  float: none;
}

#bbpress-forums div.bbp-search-form {
  margin: 102px 0 46px;
}

@media (max-width: 767px) {
  #bbpress-forums div.bbp-search-form {
    float: none;
    margin: 0;
    display: table-footer-group;
  }
}
#bbpress-forums {
  margin-bottom: 52px;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  padding: 0;
  display: table;
  width: 100%;
  color: #ffffff;
  background: #37c4aa;
  border-top: 0px solid #eee;
}
#bbpress-forums li.bbp-header ul,
#bbpress-forums li.bbp-footer ul {
  display: table-row;
}
#bbpress-forums li.bbp-header ul li,
#bbpress-forums li.bbp-footer ul li {
  display: table-cell;
  padding: 12px 39px;
  float: none;
}
#bbpress-forums li.bbp-header a,
#bbpress-forums li.bbp-footer a {
  color: inherit;
}

.bbp-forum-title {
  display: block;
  margin: 0px 0 17px;
  font-weight: 600;
  font-size: 20px;
}

#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
  padding: 12px 39px;
}

#bbpress-forums li.bbp-header .bbp-search-author, #bbpress-forums li.bbp-footer .bbp-search-author, #bbpress-forums li.bbp-header .bbp-forum-author, #bbpress-forums li.bbp-footer .bbp-forum-author, #bbpress-forums li.bbp-header .bbp-topic-author, #bbpress-forums li.bbp-footer .bbp-topic-author, #bbpress-forums li.bbp-header .bbp-reply-author, #bbpress-forums li.bbp-footer .bbp-reply-author {
  padding: 12px 39px 0;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  border-top: 1px solid #d9dde0;
  padding: 0;
}

#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-search-results {
  border: 0px solid;
  border-left: 1px solid #d9dde0;
  margin-bottom: 24px;
}

#bbpress-forums ul.bbp-replies {
  margin-bottom: 24px;
  border: 1px solid #d9dde0;
}
#bbpress-forums ul.bbp-replies div.bbp-reply-header, #bbpress-forums ul.bbp-replies div.bbp-reply-header + div.reply {
  border-right: 0px solid #d9dde0;
  border-left: 0px solid #d9dde0;
}

div.bbp-submit-wrapper {
  margin-bottom: 10px;
}

#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
  margin: 0;
}

.bbp-body {
  display: table;
  width: 100%;
}
.bbp-body ul {
  display: table-row;
}
.bbp-body ul li {
  display: table-cell;
  vertical-align: top;
  padding: 12px 39px 18px;
  float: none;
  border-right: 1px solid #d9dde0;
  border-bottom: 1px solid #d9dde0;
}

li.bbp-forum-info,
li.bbp-topic-title {
  width: 41.22%;
}

li.bbp-forum-topic-count,
li.bbp-forum-reply-count,
li.bbp-topic-voice-count,
li.bbp-topic-reply-count {
  width: 17.19%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
  width: 24.4%;
}

#bbpress-forums li.bbp-footer {
  display: none;
}

.wp-core-ui .button-group.button-small .button, .wp-core-ui .button.button-small {
  min-height: 0;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar,
#bbpress-forums div.odd, #bbpress-forums ul.odd {
  background: transparent;
  border: 0px solid;
}

#bbpress-forums fieldset.bbp-form p,
#bbpress-forums div.bbp-the-content-wrapper {
  margin: 0 0 30px;
}

#bbpress-forums div.bbp-reply-header, #bbpress-forums div.bbp-reply-header + div.reply {
  border-right: 1px solid #d9dde0;
  border-left: 1px solid #d9dde0;
}

.bbp-pagination {
  padding-top: 14px;
  border-top: 1px solid #d9dde0;
}

#bbpress-forums #bbp-your-profile fieldset input, #bbpress-forums #bbp-your-profile fieldset textarea {
  width: 60%;
  padding: 8px 16px 7px;
  color: #83868a;
  background: #ffffff;
  border: 1px solid #d9dde0;
}

#bbpress-forums div.bbp-the-content-wrapper input {
  border-radius: 0px;
}

#bbpress-forums #bbp-your-profile fieldset div.select-wrapper {
  width: 60%;
  clear: none;
}

.bbp-form th {
  float: left;
  width: 20%;
  padding: 5px 20px 5px 0;
  text-align: right;
  cursor: pointer;
}

.bbp-form .form-table,
.bbp-form .form-table tbody,
.bbp-form .form-table tr,
.bbp-form .form-table th,
.bbp-form .form-table td {
  display: block;
}

.bbp-form .form-table th,
.bbp-form .form-table td {
  border: 0px solid;
  padding: 0;
  overflow: hidden;
}

#bbpress-forums #bbp-your-profile fieldset .form-table input {
  width: 100%;
}

.bbp-form .form-table td {
  width: 60%;
}

#bbpress-forums fieldset.bbp-form .form-table p.description {
  margin: 5px 0 20px 0;
  font-size: 12px;
  font-style: italic;
  clear: left;
  padding: 5px 8px;
  border: #cee1ef 1px solid;
  background-color: #f0f8ff;
  text-align: left;
}

#bbpress-forums #bbp-your-profile fieldset .form-table label[for] {
  width: 100%;
}

.bbp-form table tbody tr:nth-child(even), .bbp-form table tfoot tr:nth-child(even) {
  background: transparent;
}

#bbpress-forums p.bbp-topic-meta img.avatar {
  display: none;
}

#bbp-user-wrapper {
  margin: 70px 0 0;
}

#bbpress-forums ul .bbp-forums-list li {
  display: block;
  font-size: inherit;
  border: 0px solid;
  padding: 4px 0 0;
}

#bbpress-forums fieldset.bbp-form label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .bbp-body ul li {
    padding: 10px;
  }

  #bbpress-forums li.bbp-header ul li, #bbpress-forums li.bbp-footer ul li {
    padding: 12px 10px;
  }

  #bbpress-forums #bbp-your-profile fieldset label[for],
  .bbp-form th {
    float: none;
    width: 100%;
    text-align: left;
  }

  #bbpress-forums #bbp-your-profile fieldset div.select-wrapper,
  #bbpress-forums #bbp-your-profile fieldset input, #bbpress-forums #bbp-your-profile fieldset textarea {
    width: 100%;
  }

  #bbpress-forums #bbp-your-profile fieldset span.description {
    margin: 5px 0 0 0%;
    width: 100%;
  }

  #bbpress-forums #bbp-your-profile fieldset fieldset.password,
  .bbp-form .form-table td {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #bbpress-forums #bbp-search-form #bbp_search,
  #bbp_search_submit {
    margin-bottom: 24px;
  }
}
div.bbp-breadcrumb {
  font-size: 14px;
  padding: 40px 0 40px;
}

div.bbp-breadcrumb {
  float: none;
}

@media (max-width: 767px) {
  div.bbp-breadcrumb {
    display: table-header-group;
  }
  div.bbp-breadcrumb .breadcrumb-trail {
    padding: 40px 0;
  }
}
.widget.widget_display_stats dt {
  float: left;
  margin: 0 8px 15px 0;
}
.widget.widget_display_stats dd {
  margin: 0 0 15px;
}
.widget .bbp-logged-in img.avatar {
  margin: 0 28px 0 0;
  border-radius: 5px;
  overflow: hidden;
  width: 72px;
}
.widget .bbp-logged-in h4 {
  font-size: 20px;
  margin-bottom: 39px;
}
.widget .bbp-login-form .bbp-username, .widget .bbp-login-form .bbp-email, .widget .bbp-login-form .bbp-password, .widget .bbp-login-form .bbp-remember-me, .widget .bbp-login-form .bbp-submit-wrapper {
  margin: 0 0 15px;
}
.widget #bbp_search {
  vertical-align: top;
  width: 100%;
  margin-bottom: 24px;
}
.widget #bbp-search-form {
  padding-top: 5px;
}

#sidebar .bbp-login-form label {
  width: auto;
}

@media (max-width: 1229px) {
  .widget #bbp_search {
    width: 209px;
  }
}
@media (max-width: 991px) {
  .widget #bbp_search_submit {
    margin: 0;
  }
}
div.bbp-topic-tags,
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums,
.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
  font-size: 16px;
}

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
  margin-bottom: 3px;
}

#bbpress-forums fieldset.bbp-form select {
  margin: 0px;
}

@media (max-width: 767px) {
  div.bbp-topic-tags,
  #bbpress-forums .bbp-forum-info .bbp-forum-content,
  #bbpress-forums p.bbp-topic-meta,
  #bbpress-forums ul.bbp-lead-topic,
  #bbpress-forums ul.bbp-topics,
  #bbpress-forums ul.bbp-forums,
  #bbpress-forums ul.bbp-replies,
  #bbpress-forums ul.bbp-search-results,
  #bbpress-forums,
  .bbp-topics-front ul.super-sticky,
  .bbp-topics ul.super-sticky,
  .bbp-topics ul.sticky,
  .bbp-forum-content ul.sticky {
    font-size: 14px;
  }
}
